apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  labels:
    service: web
spec:
  replicas: 1
  selector:
    matchLabels:
      service: web
  template:
    metadata:
      labels:
        service: web
    spec:
      containers:
      - name: web
        image: containerregistryrobots.azurecr.io/web:v1.0.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        env:
        - name: CATALOGUE_HOST
          value: catalogue
        - name: USER_HOST
          value: user
        - name: CART_HOST
          value: cart
        - name: SHIPPING_HOST
          value: shipping
        - name: PAYMENT_HOST
          value: payment
        - name: RATINGS_HOST
          value: ratings
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 50Mi
        livenessProbe:
          httpGet:
            path: /health
            port: 8080