apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  labels:
    service: payment
    stage: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      service: payment
      stage: prod
  template:
    metadata:
      labels:
        service: payment
        stage: prod
    spec:
      containers:
      - name: payment
        image: containerregistryrobots.azurecr.io/payment:v1.0.0
        imagePullPolicy: IfNotPresent
        env:
        - name: CART_HOST
          value: cart
        - name: USER_HOST
          value: user
        - name: PAYMENT_GATEWAY
          value: https://paypal.com/
        - name: AMQP_HOST
          value: rabbitmq
        - name: PAYMENT_DELAY_MS
          value: "0"

        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 50Mi
        
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 30
          timeoutSeconds: 5

        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 30
          timeoutSeconds: 5